.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.box {
    width: 100%;
    max-width: 50%;
    margin: 5px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table-bordered {
    border: 1px solid #efefef;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th {
    border-color: #efefef;
}
.table>tbody>tr:first-child>td {
    border-top: none;
}

.table-bordered>tbody>tr>td {
    vertical-align: middle;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th {
    border-color: #efefef;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #efefef;
}
.table th, .table td {
    padding: 0.57143em;
    vertical-align: top;
    border-top: 1px solid #efefef;
}

.btn-container button {
    padding:10px;
    width:75px;
    cursor: pointer;
    background: #ff0202;
    color: #ffffff;
}

.selected-row {
    background:#dadada;
}

/*.news-table tr:hover:not(:first-child) {*/
.news-table tbody tr:hover {
    background: #ffaa62 !important;
}

th.desc_sort:before {
    content: "\2191";
}

th.asc_sort:before {
    content: "\2193";
}

.btn-refresh-news:disabled {
    background: #dadada;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 370px;
}

.modal-content img {
    float: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.preloader-container-content {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 35%;
    min-height: 370px;
}